
.bg-mygreen{
  background-color: green;
}
.content{
  padding: 12px; ;
}

.navbar-nav {
  margin-left: auto; /* Align navbar items to the right */
}

.navbar-nav .nav-link {
  margin-right: 10px; /* Add some spacing between navbar links */
}

.navbar-nav .btn {
  margin-right: 15px; /* Add spacing between login/signup buttons and navbar links */
}
/* Add custom styles for modals */
.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-header {
  background-color: #28a745;
  color: white;
}

.modal-footer {
  justify-content: center;
}
.custom-dropdown .dropdown-item-text {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.custom-dropdown .dropdown-item-text:hover {
  color: #007bff;
  text-decoration: none;
}

.custom-dropdown .dropdown-menu {
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.custom-dropdown .dropdown-menu a {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.custom-dropdown .dropdown-menu a:hover {
  background-color: #f2f2f2;
  color: #007bff;
}
